@{
    ViewData["Title"] = "Cercosporiose";
}
@model ImagePrediction.Models.ResultViewModel

<div>
    <h4>Cercosporiose</h4>
    <p>
        Ela é uma doença causada pelo fungo Cercospora coffeicola BerK. & Cooke, fungo necrotrófico, que invade as células e as matam, nutrindo-se das mesmas. Essa doença pode atacar desde mudas no viveiro causando intensa desfolha, afetando o crescimento e desenvolvimento das plantas, ou mesmo lavouras adultas, que além da queda de folhas pode proporcionar queda de frutos. Por isso, a falta de um manejo adequado e sob condições favoráveis para o desenvolvimento dessa doença, pode resultar em grandes perdas na produção.
    </p>
    <img class="ferrugemimg" src="~/images/cercos.jpg" padding-top="5px" />
    <hr />
    <h5>Sintomas</h5>
    <p>A Cercospora pode atacar tanto folhas quanto frutos em desenvolvimento, nas folhas os sintomas característicos são manchas circulares de coloração castanho-clara a escura, com o centro branco-acinzentado, quase sempre envolvidas por um halo amarelado.
     </p><p>Nos frutos, os sintomas são pequenas manchas necróticas e deprimidas, de cor marrom a negra, estendendo-se no sentido dos polos do fruto.
    </p>
    <hr />
    <h5>Danos</h5>
    <p>A Cercosporiose pode causar queda de folhas, devido a ação do etileno, reduzindo assim o desenvolvimento da planta e podendo afetar a produtividade. Os frutos apresentam processo de maturação acelerada, dessa forma resultando em mal granados ou mesmo queda precoce dos frutos em vários estádios de crescimento, podendo resultar em fermentações indesejadas.
     </p><p>Além disso, a qualidade da bebida também pode ser afetada, uma vez que, com o aumento de frutos infectados pela Cercospora, há um aumento da porcentagem de polifenóis (Figura 11), que exercem ação protetora antioxidante de aldeídos e participam nos mecanismos de defesa da planta mediante injúrias (Amorim, 1978), destacando que a concentração de compostos fenólicos é inversamente proporcional a qualidade de bebida, por isso, sob condições adversas dos grãos a enzima polifenoloxidase age sobre os polifenóis diminuindo assim sua ação antioxidante e facilitando a oxidação com interferência no sabor e aroma do café após a torração.
    </p>
    <hr />
    <h5>Controle</h5>
    <p>Como medidas gerais de controle é importante evitar as deficiências e desequilíbrios nutricionais, visto que a nutrição tem grande influência na incidência dessa doença. Dessa forma, um planejamento adequado e equilibrado das adubações e um acompanhamento das análises foliares torna-se essencial. Estando sempre atento a relação dos nutrientes, principalmente cálcio e potássio.
    </p>
    <p>Também, um fornecimento adequado de matéria orgânica, tanto na preparação de mudas no viveiro, como no campo, com o intuito de proporcionar melhores condições nutricionais. No plantio, além de evitar plantios tardios, é importante que seja feita uma boa preparação do solo, a fim de evitar a compactação do mesmo, para que não afete na absorção de nutrientes pelas raízes.
    </p>
    <p>Além disso, alguns estudos sugerem a utilização de silício no controle da cercosporiose, os mecanismos pelos quais o silício pode conferir resistência a determinada doença podem ser por acúmulo do elemento na parede das células da epiderme e cutícula, acúmulo no local de penetração do patógeno (barreiras naturais), ou ativação das barreiras químicas e bioquímicas da planta (EPSTEIN, 1999) (POZZA et al., 2004).
     </p><p>No controle químico é importante estar atento às condições ambientais favoráveis para tomada de decisão da melhor época de aplicação, sempre monitorando a lavoura e suas condições. Os grupos químicos utilizados são: Estrobilurina, Triazol, Benzimidazol, Isoftalonitrila e Ditiocarbamato (Tabela 2), sempre destacando a importância de alternar os ingredientes ativos, principalmente com Hidróxido de cobre e Oxicloreto de Cobre que auxiliam no controle preventivo da cercosporiose.
    </p>

</div>
