@{
    ViewData["Title"] = "Ferrugem";
}
@model ImagePrediction.Models.ResultViewModel

    <div>
        <h4>Ferrugem</h4>
        <p>
            A ferrugem do cafeeiro é considerada a doença mais importante na cafeicultura, uma vez que pode causar uma intensa desfolha no cafeeiro.
            <ul>
                <li>Nome científico: Hemileia vastatrix Berk & Broome.</li>
                <li>Filo: Basidiomycota</li>
                <li>Classe: Puccioniomycetes</li>
                <li>Ordem: Pucciniales</li>
                <li>Família: Incertae sedis</li>
            </ul>
            <img class="ferrugemimg" src="~/images/ferrugemcafe.png" padding-top="5px" />
        </p>
        <hr />
        <h5>Sintomas da ferrugem do cafeeiro</h5>
        <p>
            Os principais sintomas são:
            <ul>
                <li>
                    Manchas cloróticas possíveis de serem vistas com a folha colocada contra a luz.
                </li>
                <li>
                    Manchas na face inferior da folha de coloração amarelo – alaranjada.
                </li>
                <li>
                    Aparecimento sobre a mancha de massa pulverulenta de uredósporos.
                </li>
                <li>
                    Necrose de partes do tecido foliar.
                </li>

            </ul>
        </p>
        <hr />
        <h5>Danos</h5>
        <p>
            A ferrugem do cafeeiro causa os seguintes danos:
            <ul>
                <li>Desfolha acarretando em prejuízos já naquela safra</li>
                <li>Redução da produção</li>
                <li>Prejuízos para a próxima safra do cafeeiro</li>
            </ul>
        </p>
        <hr />
        <h5>Controle da ferrugem do cafeeiro</h5>
        <p>
            Controle genético: utilização de cultivares resistentes Paraíso, Oeiras, Catiguá, Araras (porém sabe-se que apesar da resistência dessas cultivares em alguns casos ainda é feito o controle químico).
            Também é importante destacar:
            <ul>
                <li>Fungicidas protetores: Cúpricos – Oxicloreto de cobre, hidróxido de cobre; </li>
                <li>Fungicidas sistêmicos: Solo (fungicida + inseticida) – Foliar (triazol, estrobilurina). </li>
            </ul>
        </p>
        <h5> Fungicidas protetores</h5>
        <p>
            Os fungicidas protetores quando aplicados na superfície das folhas, formam uma barreira tóxica capaz de evitar a penetração do fungo, dessa forma, atuando de forma preventiva no controle das doenças.
        </p>
    </div>
