@{
    ViewData["Title"] = "Mancha Aureolada";
}
@model ImagePrediction.Models.ResultViewModel

<div>
    <h4>Mancha Aureolada</h4>
    <p>A mancha aureolada é uma doença que tem se destacado na cafeicultura brasileira nos últimos anos. Ela é causada pela bactéria Pseudomonas syringae pv. Garcae e foi constatada pela primeira vez em 1955, na região de Garça, no Estado de São Paulo.

     </p><p>Tal enfermidade era mais comum nas regiões cafeeiras mais frias, como os estados do Paraná e São Paulo, porém, nos últimos anos tem-se constatado também nas zonas cafeeiras do Cerrado Mineiro (Triângulo e Alto Paranaíba), Sul de Minas e áreas de elevada altitude das Matas de Minas. Tem maior severidade, em sua maioria, em lavouras novas, com até 4 anos, mas lavouras velhas que foram podadas e viveiros de mudas podem ser altamente vulneráveis.
    </p>
    <img class="ferrugemimg" src="~/images/mancha.jpg" padding-top="5px" />
    <hr />
    <h5>Sintomas</h5>
    <p>
        A doença ataca folhas, ramos, frutos novos e rosetas, podendo ser encontrada tanto em viveiros, quanto no campo. A bactéria ataca de forma sistêmica os ramos, que inicialmente ficam com uma coloração escura. Em seguida, ataca as folhas e o sintoma se caracteriza por uma mancha necrótica de coloração parda, podendo ser envolvida por um halo-amarelado, consequentemente levando à queda das folhas e diminuição da produção de fotoassimilados pela planta. Já nos órgãos florais do cafeeiro, causa a queda de flores e frutos chumbinhos, e consequentemente diminuição da produção. O ataque da doença pode causar a morte da planta em até 1 ano, sintoma que as vezes pode ser confundido com outras doenças, como rizoctoniose.
    </p>
    <hr />
    <h5>Danos</h5>
    <p>
        As folhas mais velhas apresentam manchas de coloração pardo escura, formato irregular, envolvidas por um anel amarelo (auréola), estas manchas estão distribuídas em toda a superfície das folhas sendo mais frequentes nas bordas. Normalmente, as áreas necrosadas rompem-se, formando uma perfuração no centro da mancha. Nas folhas novas, as manchas são circulares e a aureola amarela característica não é facilmente visível, sendo possível somente observar a transparência das lesões contra a luz. Com a evolução da doença, os halos amarelos coalescem formando grandes áreas necróticas, causando a queda prematura das folhas.

    </p><p>Quando ocorre nos ramos, a doença causa requeima. Frutos infectados na fase de chumbinho apresentam necrose. P. garcae ocorre principalmente em lavouras novas com  3 a 4 anos, causando desfolha, seca de ponteiros, superbrotamento e retardamento no desenvolvimento das plantas. Em viveiros P. garcae causa desfolha, morte de ponteiros e pode causar até a morte de mudas.
    </p>
    <hr />
    <h5>Controle</h5>
    <p>
        Os viveiros devem ser instalados em locais protegidos do vento e do frio. Quando a doença se manifestar, as mudas infectadas devem ser eliminadas para reduzir a fonte de inóculo na área, e também recomenda-se realizar aplicações de fungicidas cúpricos (0,3%) associados ou não a antibióticos na concentração de 0,2%. No caso de ataques mais severos, deve-ser realizada uma poda à altura do terceiro par de folhas, visando eliminar as pontas danificadas.

     </p><p>No campo, o controle deve ser preventivo através do plantio de barreiras quebra-vento ao redor da cultura, manter um maior espaçamento entre as plantas, evitando assim um acúmulo de umidade por longos períodos, e em áreas favoráveis à ocorrência da doença é recomendado a aplicação preventiva de fungicidas cúpricos, principalmente no período das chuvas. Estas aplicações podem coincidir com o controle da ferrugem do cafeeiro e da mancha de olho pardo.
    </p>
</div>
